@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border;
    }
    body {
        @apply font-mitr bg-body text-black tracking-[0.5px];
    }
    h1,
    h2,
    h3 {
        @apply font-mitr font-bold;
    }
    h1 {
        @apply text-[38px] leading-[46px]; 
    }
    h2 {
        @apply text-[21px] leading-[38px];
    }
    h3 {
        @apply text-[15px] leading-[22px];
    }
    p {
        @apply text-[20px] leading-[25px];
    }
    a {
        @apply text-white hover:text-white transition-all duration-300 cursor-pointer text-base
    }
    label {
        @apply text-white text-base uppercase font-normal block mb-2;
    }
    .active {
        @apply text-white font-bold bg-[#00996E] p-2 rounded
    }
}

@screen md {
    h1 {
        @apply text-[45px] leading-[55px];
    }
    h2 {
        @apply text-[21px] leading-[38px];
    }
    h3 {
        @apply text-[15px] leading-[22px];
    }
    p {
        @apply text-[20px] leading-[25px];
    }
    a {
        @apply text-base;
    }
    
}

@screen xl {
    h1 {
        @apply text-[66px] leading-[67px];
    }
    h2 {
        @apply text-[47px] leading-[50px];
    }
    h3 {
        @apply text-[35px] leading-[22px];
    }
    p {
        @apply text-[22px] leading-10;
    }
    a {
        @apply text-xl;
    }
    
}
